@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* common codes */
#lato-font {
  font-family: "Lato", sans-serif;
}
.special-color{
  color: #6c757d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
/* header styles starts here */

#nav {
  margin: 0 auto;
  width: 1000px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-name {
  font-size: 30px;
  font-weight: 900;
}
.nav-btn {
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  color: black;
  border: 0.5px solid rgb(68, 67, 67);
  border-radius: 8px;
}
#banner {
  width: 100%;
  height: 500px;
  background-image: url("../assets/Hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.banner-img img{
  width: 200px ;
  height: 200px;
}
.banner-title{
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}
.banner-content{
  width: 70%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  line-height: 27px;
  color:rgb(88, 87, 87);
}
.banner-btn a{
  color: white;
  font-size: 17px;
  font-weight: 550;
}
.banner-btn{
  padding: 20px 30px;
  background-color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

/* header styles ends here */

/* main styles starts here  */

/* content section */
main{
  max-height: 80vh;
}
#content{
  width: 900px;
  height: 100%;
  background-color: #f8f9fa;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-details{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.content-details1{
  padding: 10px 20px;
}
.content-title{
  font-size: 40px;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 10px;
}
.content-details-description{
  font-size: 17px;
  font-weight: 600;
  line-height: 27px;
  margin: 20px 0;
  text-align: center;
}
.content-details1-description{
  font-size: 17px;
  font-weight: 400px;
  line-height: 27px;
  margin: 10px 0;
}

.content-details1-title{
  font-size: 20px;
  font-weight: 800;
  text-align: left;
}
.content-btn {
  padding: 8px 12px 8px 12px;
  font-size: 16px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #6c757d;
  cursor: pointer;
}

/* inspiration styles starts here */
#inspiration{
  width: 870px;
  margin: 0 auto;
  margin-top: 40px;
}
.inspiration-title{
  font-size: 35px;
  font-weight: 900;
  margin: 20px 0;
  text-align: center;
}
.inspiration-description{
  text-align: center;
  margin-bottom: 20px;
  line-height: 25px;
}
.inspire-video{
  border-radius: 20px !important;
  overflow: hidden;
  position: relative;
}
.inspire-video .i-frame{
  width: 100%;
  height: 500px;
}
.video-container{
  border: 1px solid #6c757d;
  border-radius: 20px;
  padding: 20px;
}
/* inspiration styles ends here */

/* target styles starts here */

#target{
  width: 900px;
  margin: 0 auto;
  margin-top: 80px;
}
.target-title{
  font-size: 35px;
  font-weight: 900;
  margin: 20px 0;
  text-align: center;
}
.target-description{
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
  margin: 20px 0;
  text-align: center;
}
.card-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
  padding: 10px;
}
.card{
  padding: 10px;
}
.card img , h3 , p , a{
  margin: 10px 0;
}
.card a{
  text-decoration: underline;
  font-size: 18px;
  font-weight: 900;
  color: #000;
}
.card h3{
  color: #000;
  font-size: 18px;
  font-weight: 900;
}
.card-html{
  background-color: #f8f9fa;
  border-radius: 10px;
}
.card-css{
  background-color: #f6fff8;
  border-radius: 10px;
}
.card-js{
  background-color: #fffcf9;
  border-radius: 10px;
}

/* target styles ends here */

/* main styles ends here  */
